body {
    background-color:rgb(42, 151, 194);
}

h1 {
    color: rgb(0, 0, 0); 
    font-size: 100px;
    text-align: center;
}

.button {
    font-size: 90px;
    cursor: pointer;
    transition-duration: 0.5s;
    border:rgb(0, 0, 0);
    border-radius: 30px 30px 30px 30px;
}

.button:hover {
    background-color: rgb(14, 129, 120);
}

img {
    display: none;

}